body {
  background-image: url("/one-hand-challenge-1/images/background.jpg");

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.main {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.nav_munu {
  margin-left: 60%;
  margin-top: 2%;
}
a {
  font-family: "Rowdies", cursive;
  padding: 2%;
  text-decoration: none;
  color: #e0e2e1;
}

.allIn {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  margin: auto;
}
.title {
  font-family: "Rowdies", cursive;
  font-size: 500%;
  color: #e0e2e1;
}
.info {
  font-family: "Patrick Hand", cursive;
  font-size: large;
  text-align: center;
  margin: auto;
  width: 60%;
  color: #e0e2e1;
}
.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
}
.more {
}
button {
  margin: 1vw;
  height: 5vh;
  width: 10vw;
  border-radius: 25px;
  border-style: solid;
  border-color: #5a281f;
  background-color: unset;
  color: #e0e2e1;
  font-family: "Patrick Hand", cursive;
  font-weight: 600;
  font-size: 1vw;
}
button:hover {
  background-color: #5a281f;
  cursor: pointer;
}
